body {
    background-color: #eee;
}

input {
    padding: 1rem;
    border-radius: 1rem 0rem 0rem 1rem;
    font-weight: bold;
    font-size: 1rem;
}

div > input {
    margin-top: 1rem;
}

div > button {
    padding: 1rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0rem 1rem 1rem 0rem;
    background-color: green;
    cursor: pointer;
    color: white;
}